<div id="loginContainer">
  <h1 class="text-center">Login</h1>

<div class="divFormLoginContainer">
  <form id="formLoginContainer">
    <div class="form-floating mb-3 divInputEmail">
      <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating divInputPassword">
      <input type="password" class="form-control" id="floatingInputPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
  </form>
  </div>
</div>