  <h1 class="text-center">Login</h1>
<div id="loginContainer">

  <div class="divFormLoginContainer">
    <form id="formLoginContainer">
      <div class="form-floating mb-3 divInputEmail">
        <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating divInputPassword">
        <input type="password" class="form-control" id="floatingInputPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="text-center m-3">
        <button type="button submit" class="btn btn-primary text-center btnLogin">Login</button>
      </div>
    </form>
  </div>
  <div class="text-center m-3">
    <h3>¿No has creado aún el usuario?</h3>
    <p><a href="">Registrate</a></p>
  </div>
</div>