<h1 class="text-center"> Registro de Usuarios </h1>
<div id="registerContainer">
    <form id="formRegisterContainer" action="api/users" method="POST">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" required>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" required>
        <label for="email">Email: </label>
        <input type="text" name="email" required>
        <label for="password">Password </label>
        <input type="text" name="password" required>
        <label for="age">Age: </label>
        <input type="text" name="age" required>

        </div>
        <div class="text-center m-3">
            <button type="button submit" class="btn btn-primary text-center btnLogin"> Register </button>
        </div>
    </form>
</div>

<div class="text-center m-3 cuentaExitente">
    <h3>¿Ya tienes una cuenta creada?</h3>
    <p class="fs-4"><a href="/">Login</a></p>
</div>